<a href="https://colab.research.google.com/github/me-rsharma/explorepython/blob/master/016Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## `FUNCTIONS in Python`

`Function helps to wrap a block of code that needs to be executed repeatedly without rewriting the same code block again & again`

`Function helps to execute same bolck of code with different set of data`

`Creating function in python needs specific set of syntax - def & indentation`

`Naming function uses snake_casing - words seperated with _`

```python
def function_name():
  '''
  Doc string
  '''
  # perform someting
```

In [3]:
# Creating a function
def greet():
  '''
  I greet people
  '''
  print('Hare Krishna')

In [4]:
greet()

Hare Krishna

In [5]:
help(greet)

Help on function greet in module __main__:

greet()
    I greet people

In [11]:
# function with parameter
def greet_someone(name):
  '''
  Help me with person name and I will greet that person
  '''
  print(f'Hare Krishna, {name}')

In [12]:
greet_someone(name='Prabhuji')

Hare Krishna, Prabhuji

In [13]:
help(greet_someone)

Help on function greet_someone in module __main__:

greet_someone(name)
    Help me with person name and I will greet that person

In [14]:
def add(num_one, num_two):
  '''
  Pass me numbers and I will add them and return output
  '''
  return num_one + num_two

In [15]:
output = add(10, 20)
output

30

In [16]:
help(add)

Help on function add in module __main__:

add(num_one, num_two)
    Pass me numbers and I will add them and return output

In [17]:
def is_even(num):
  '''
  Return True if number is even else False
  '''
  if num % 2==0:
    return True
  else:
    return False

In [18]:
is_even(4)

True

In [19]:
is_even(5)

False

In [24]:
from random import randint
is_even(randint(2,50))

True

In [26]:
def even_list(num_list):
  '''
  Accepts number list and return True if finds even number
  '''
  for num in num_list:
    if num%2==0:
      return True

In [27]:
even_list([1,2,3])

True

In [29]:
even_list([1,3,5])

In [30]:
# not returning anything-lets return flase if no even
def even_list(num_list):
  '''
  Accepts number list and return True if finds even number
  '''
  for num in num_list:
    if num%2==0:
      return True
    else:
      return False

In [31]:
even_list([1,3,5])

False

In [32]:
even_list([2,3,5])

True

In [34]:
even_list([2,4,6])

True

In [35]:
def even_list(num_list):
  '''
  Accepts number list and return True if finds even number
  '''
  for num in num_list:
    if num%2==0:
      return True
    else:
      return False ## WRONG!! since when we hit this line program stops and may not compare other elements

In [36]:
# We want function should return False only when all the numbers are checked
def even_list(num_list):
  '''
  Accepts number list and return True if finds even number
  '''
  for num in num_list:
    if num%2==0:
      return True
  return False

In [37]:
even_list([2,4,6])

True

In [38]:
even_list([1,2,3])

True

In [39]:
even_list([1,3,7])

False

### `return multiple items from function using tuple unpacking`

In [40]:
stock_prices = [('APL', 234), ('GOOL',536), ('MS', 340)]

In [41]:
for ticker, price in stock_prices:
  print(ticker, price)

APL 234
GOOL 536
MS 340

In [42]:
def employee_check(work_hours):
  current_max = 0
  employee_of_month = ''
  for employee, hours in work_hours:
    if hours > current_max:
      current_max = hours
      employee_of_month = employee
    else:
      pass
  return (employee_of_month, current_max)

In [48]:
work_hours = [('Rama', 120), ('Krishna', 300), ('Balaram', 200)]
employee_check(work_hours)

('Krishna', 300)

In [49]:
employee, hours = employee_check(work_hours)

In [50]:
employee

'Krishna'

In [51]:
hours

300

### `GAME CHALLENGE - Three Cup Monte`

In [1]:
from random import shuffle

In [2]:
rounds = [3,2,7,1,4]

In [7]:
shuffle(rounds)

In [8]:
rounds

[4, 3, 7, 2, 1]

In [9]:
def shuffle_list(my_list):
  shuffle(my_list)
  return my_list

In [10]:
result = shuffle_list(rounds)

In [11]:
result

[1, 2, 7, 3, 4]

In [15]:
def player_guess():
  guess=''
  while guess not in ['0','1','2']:
    guess = input('Pick a number 0, 1 or 2: ')
  return int(guess)

In [16]:
guess = player_guess()

Pick a number 0, 1 or 2: 2

In [17]:
def check_guess(my_list, guess):
  if my_list[guess] == 'O':
    print('Correct')
  else:
    print('Wrong guess')
    print(my_list)

In [23]:
# Initial list
my_list = ['O', '', '']

# shuffle
shuffle(my_list)
print(my_list)

# guess 
guess = player_guess()
# check_guess
check_guess(my_list, guess)

['O', '', '']
Pick a number 0, 1 or 2: 2
Wrong guess
['O', '', '']

### `* args & **kwargs`

In [28]:
# lets consider we have a function to add numbers
def add(a, b, c):
  print(a +b+c)

In [29]:
add(21,10,19)

50

In [30]:
# if we have to add 50 numbers then
def add(*args):
  output = 0
  for n in args:
    output = output+n
  print(output)

In [33]:
add(10,10,40,89,45)

194

In [34]:
def get_price(**kwargs):
  print(kwargs)

In [36]:
get_price(**{'apple':30, 'mango':10})

{'apple': 30, 'mango': 10}

In [37]:
get_price(apple=30, mango=89)

{'apple': 30, 'mango': 89}