<a href="https://colab.research.google.com/github/me-rsharma/explorepython/blob/master/017LambdaMapFilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## `Lambda, Map & Filter`

`Lambda is used to create an anonymous function that can be used once or we can say one time function and can never reference again`

### `map()`

In [1]:
def square(num):
  return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
# we have to find th square of each number in the list
for n in my_nums:
  print(square(n))

1
4
9
16
25

In [4]:
# simplest way using map()
map(square, my_nums)

In [5]:
list(map(square, my_nums)) # we are just passing function not calling function

[1, 4, 9, 16, 25]

In [18]:
def splicer(my_string):
  if len(my_string)%2==0:
    return 'EVEN'
  else:
    return my_string[0]

In [19]:
names = ['Rama', 'Krishna', 'Radha']

In [20]:
res = []
for name in names:
  res.append(splicer(name))

In [21]:
res

['EVEN', 'K', 'R']

In [22]:
map(splicer, names)

In [23]:
list(map(splicer, names)) # we are just passing function not calling function

['EVEN', 'K', 'R']

### `filter()`

In [25]:
def check_even(num):
  return num%2==0

In [26]:
my_nums = [1,2,3,4,5]

In [27]:
filter(check_even, my_nums) # filter filter out only the True one

In [28]:
list(filter(check_even, my_nums))

[2, 4]

### `lambda function`

In [29]:
def square(num):
  return num**2

In [30]:
def square(num): return num**2

In [33]:
lambda num: num**2

In [34]:
square = lambda num: num ** 2

In [35]:
square(2)

4

In [36]:
def check_even(num): return num%2==0

In [37]:
check_even = lambda num: num%2==0

In [38]:
check_even(7)

False

In [39]:
list(map(lambda num: num%2==0, [1,2,3,4,5]))

[False, True, False, True, False]

In [40]:
list(map(lambda num: num**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]